<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Blockchain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-no-padding" *ngIf="blockchain">
    <ion-row>
      <ion-col size="12">
        <img src="../../../assets/images/TomCoin.png" alt="">
      </ion-col>
      <ion-col size="12" class="text-center">
        <h5>O Blockain da TomCoin possui {{blockchain.block}} blocos</h5>
      </ion-col>
      <ion-col size="12">
        <h5>Com um total de {{blockchain.transactions}} transações</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>