<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <h6>Seja bem-vindo</h6>
        <h4>Rhaymison Cristian</h4>
      </ion-col>
      <ion-col size="3">
        <img [src]="avatar" alt="">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="wallet">
      <span class="ion-padding-left">Cotação: 1 TC - {{wallet.tom_coin_cotation}}</span>
      <ion-col id="main-block" size="12" class="ion-padding">
        <div class="main-card">
          <ion-icon name="repeat-outline" (click)="transaction()"></ion-icon>
          <h5>Saldo TomCoin</h5>
          <h1>TC {{wallet.user_tom_coin}}</h1>
          <h3>BRL {{wallet.user_valuer}} / {{wallet.formated_value}}</h3>
          <h6>Saldo atualizado a cada 10 min</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="minarate()" expand="full" color="primary" size="large">
          <ng-container *ngIf="!isMinerating;else minerateBlock">
            Minerar
            <ion-icon name="construct-outline"></ion-icon>
          </ng-container>
          <ng-template #minerateBlock>
            Minerando
            <ion-spinner name="bubbles"></ion-spinner>
          </ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="transactions">
        <h3>Últimas transações</h3>

        <div *ngIf="transactions && transactions.length > 0; else notTransactionsBlock">
          <ion-item *ngFor="let transaction of transactions; index as i">
            <ion-avatar slot="start">
              <img src="../../../assets/images/TomCoin.png">
            </ion-avatar>
            <ion-label>
              <h2>TC {{transaction.cash}}</h2>
              <h4>De: {{transaction.from}}</h4>
              <h4>Para: {{transaction.to}}</h4>
              <p>{{transaction.date}}</p>
            </ion-label>
          </ion-item>-
        </div>
        <ng-template #notTransactionsBlock>
          <h3>Sem registro</h3>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>