<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <h6>Seja bem-vindo</h6>
        <h4>Rhaymison Cristian</h4>
      </ion-col>
      <ion-col size="3">
        <img [src]="avatar" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="main-block" size="12" class="ion-padding">
        <div class="main-card">
          <ion-icon name="repeat-outline"></ion-icon>
          <h5>Saldo TomCoin</h5>
          <h1>TC 514.0014587</h1>
          <h3>BRL 124.00</h3>
          <h6>Saldo atualizado a cada 10 min</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="minarate()" expand="full" color="primary" size="large">Minerar
          <ion-icon name="construct-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="transactions">
        <h3>Últimas transações</h3>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/TomCoin.png">
          </ion-avatar>
          <ion-label>
            <h2>TC 15</h2>
            <h4>I can handle myself</h4>
            <p>04/10/2021</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/TomCoin.png">
          </ion-avatar>
          <ion-label>
            <h2>TC 15</h2>
            <h4>I can handle myself</h4>
            <p>04/10/2021</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/TomCoin.png">
          </ion-avatar>
          <ion-label>
            <h2>TC 15</h2>
            <h4>I can handle myself</h4>
            <p>04/10/2021</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/TomCoin.png">
          </ion-avatar>
          <ion-label>
            <h2>TC 15</h2>
            <h4>I can handle myself</h4>
            <p>04/10/2021</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/TomCoin.png">
          </ion-avatar>
          <ion-label>
            <h2>TC 15</h2>
            <h4>I can handle myself</h4>
            <p>04/10/2021</p>
          </ion-label>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>